@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.box-wrapper {
  padding: 50px 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.coming_soon {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.coming_soon > h1 {
  transform: rotate(-15deg);
  text-decoration: underline;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #FFCC70 0%, #c806bb 26%, #4158D0 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 250ms linear transform;
  text-shadow: -10px -20px 0 rgb(1, 0, 42);
  user-select: none;
}

@media screen and (max-width: 768px) {
  .box-wrapper {
    padding: 50px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
  }
    
}

.card-box {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 20px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-wrapper-inner {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: blur(0); /* Initially no blur */
}

.card-container:hover .box-wrapper-inner {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  filter: blur(3px); /* Add blur on hover */
}


.box-wrapper-inner::before,
.box-wrapper-inner::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.box-wrapper-inner::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.box-wrapper-inner::after {
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-container:hover .box-wrapper-inner::before,
.box-wrapper-inner::after {
  opacity: 1;
}

.card-container:hover .box-wrapper-inner::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}

.card-container:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card-container:hover .character {
  opacity: 1;
  transform: translate3d(0%, -20%, 100px);
}
