@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.box-wrapper {
  padding: 50px 0px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.coming_soon {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.coming_soon > h1 {
  transform: rotate(-15deg);
  text-decoration: underline;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #FFCC70 0%, #c806bb 26%, #4158D0 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 250ms linear transform;
  text-shadow: -10px -20px 0 rgb(1, 0, 42);
  user-select: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .box-wrapper {
    padding: 50px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
  }
    
}
/* 
.card-box {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card-container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 20px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-wrapper-inner {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: blur(0);
}

.card-container:hover .box-wrapper-inner {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  filter: blur(3px); 
}


.box-wrapper-inner::before,
.box-wrapper-inner::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.box-wrapper-inner::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.box-wrapper-inner::after {
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-container:hover .box-wrapper-inner::before,
.box-wrapper-inner::after {
  opacity: 1;
}

.card-container:hover .box-wrapper-inner::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}

.card-container:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card-container:hover .character {
  opacity: 1;
  transform: translate3d(0%, -20%, 100px);
} */


/* From Uiverse.io by Daniel1227k */ 

/* .box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  position: relative;
  max-width: 300px;
  height: 400px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,hsl(339, 100%, 60%));
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,#ff0058);
  filter: blur(30px);
}

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card img {
  position: absolute;
  z-index: 3;
  scale: 1.1;
  opacity: 0.9;
  transition: 0.5s;
}

.card:hover img {
  scale: 0.85;
  opacity: 0.8;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s transform, opacity ease-out .5s;
}

.card:hover .content {
  transition: 0.5s transform, opacity ease-in .5s;
  transform: translateY(0px);
  bottom: 25px;
  opacity: 1;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 14px;
}

.sci li .fa-facebook {
  width: 10px;
}

.sci li a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
} */


/* MAIN CARDS */


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

.card

.card-article > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container-card-section{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  grid-auto-rows: 32.5em;
}
.card-img-wrapper{
  position: relative;
  height: 100%;
}
.card-img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
  transition: opacity .25s .1s linear;
  border-radius: 1.5rem;
}
.card__article {
  border-radius: 1.5rem;
  transition: .25s box-shadow;
}
/* .card__article:hover {
  box-shadow: 0 0 2rem .5rem hsl(276.52deg 50.22% 55.1%);
} */
.card__article img {
  transition: transform .2s .1s linear;
  height: 100%;
  object-fit: cover;
}
.card__article:hover .card-img-wrapper::after {
  opacity: .3;
}
.card__article:hover  img {
  transform: scale(.98);
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  z-index: 10;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
  color: var(--text-color)
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container-card-section {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container-card-section {
    min-height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
