.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100vh;
}
.landing-page{
  /* height: 100%; */
  background-image: url("../assets//landing.png") ;
  background-size: cover;
  background-position: center;   
  overflow: hidden;
  background-repeat:no-repeat; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 
.main-heading{
  color: aliceblue;   
  font-size: 7rem;    
  text-align: center;
  
  font-family: Water Brush, cursive;
}
.sub-heading{
  color: aliceblue;
  font-size: 3rem;
  /* font-family: 'Zeyada',cursive; */
  font-family: Water Brush, cursive;
  
}

.latest-events-btn:hover {
  background: rgb(255, 255, 255);
 
  color: rgb(0, 0, 0);
  cursor: pointer;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .main-heading{
      font-size: 2rem;
  }
  .sub-heading{
      width: 80%;
      font-size: 1rem;
  }
  #HeadID{
    height: 30vh;
   
  }
 
}

.hamburger{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}
.logos{
  display: flex;
  margin-left: 0%;
  gap: 17rem;
  justify-content: space-around;
  align-items: center;
  
  margin-left: -5%;
}
.Culturallogo{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#JYC{
  transform: scale(1);
  width: 100%;
 
}
#Cultural{
  width: 100%;
  transform: scale(0.37);

}
.CulturalLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jycLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}