@import url('http://fonts.cdnfonts.com/css/nexa-bold'); 
.countdown-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44rem;
    height: 7rem;
    box-sizing: border-box;
    background: rgba(237, 244, 245, 0.2);
    backdrop-filter: blur(5px);
    color: #edf0f1;
    font-family: 'Nexa', sans-serif; 
    margin-top: 5rem;
}
.two-numbers {
    font-size: 3.5rem;
    margin-left: 2rem;
    height: 4rem;
    width: 5rem;
    display: flex;
    color: #edf0f1;
    justify-content: center;
    align-items: flex-start;
}
.countdown-dhm{
    display: flex;
    align-items: center;
}
.Time-Parameters{
    height: 5rem;
    margin-right: 3rem;
    display: flex;
    font-weight: bold;
    align-items: center;
}
@media only screen and (max-width:1024px){
    .countdown-timer{
        width: 38rem;
    }
    .two-numbers{
        font-size: 2rem;
        font-weight: bold;
        height: 2.5rem;
    }
    .Time-Parameters{
        font-size: 1rem;
    }
    .Time-Parameters_sec{
        font-size: 1rem;
    }
}
@media only screen and (max-width:768px){
    .countdown-timer {
        width: 24.65rem;
        height: 5rem;
        margin-bottom: 10rem;
    }
    .two-numbers {
        font-size: 2rem;
        margin-left: 0;
        height: 5rem;
        width: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
       font-size: 1rem;
    }
    .Time-Parameters{
        font-size: 0.7rem;
    }
    .Time-Parameters_sec{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width:425px){
    .countdown-timer{
        width: 18rem;
        height: 4rem;
        margin-bottom: 15rem;
    }
    .countdown-dhm {
        display: flex;
        height: 4rem;
        width: 6.7rem;
        align-items: center;
    }
    .two-numbers{
        font-style: 0.7rem;
    }
    .Time-Parameters{
        font-size: 0.5rem;
    }
    .Time-Parameters_sec{
        font-size: 0.5rem;
    }
}