.teams {
  display: inline;
  font-style: 'Montserrat', cursive;
}

.teams-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ques-wrapper-1 .ques-heading-teams-titlebox,
.ques-wrapper-2 .ques-heading-teams-titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  width: 48vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: rgb(188, 188, 188);
  text-align: center;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.ques-1,
.ques-2 {
  width: 50vw;
}

.ques-wrapper-1 .list,
.ques-wrapper-2 .list,
.more-option-hide {
  display: none;
}

.ques-wrapper-1-active .more-option-show,
.ques-wrapper-2-active .more-option-show {
  display: none;
}

.ques-wrapper-1-active .more-option-hide,
.ques-wrapper-2-active .more-option-hide {
  display: flex;
}


.ques-wrapper-1-active .list,
.ques-wrapper-2-active .list {

  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(188, 188, 188);

  font-size: 1.2rem;
  width: 48vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.ques-wrapper-1-active .list-item,
.ques-wrapper-2-active .list-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}



.ques-wrapper-1-active .ques-heading-teams-titlebox,
.ques-wrapper-2-active .ques-heading-teams-titlebox {
  margin-bottom: 2rem;

}


.ques-wrapper-1 .more-option-show,
.ques-wrapper-2 .more-option-show,
.ques-wrapper-1-active .more-option-hide,
.ques-wrapper-2-active .more-option-hide {
  cursor: pointer;
  font-weight: bold;
}


.heading-teams-title {
  z-index: 100;
  font-size: 5rem;
  font-family: 'Water Brush', cursive;
  color: #FFA800;
  margin-bottom: -5rem;

}


.stroke-img {
  margin-top: -2rem;
  margin-left: 7rem;
  z-index: 10;
}

.heading-teams-about {
  display: flex;
  flex-direction: column;
}



/* media query */
@media screen and (max-width: 768px) {


  .teams {
    display: inline;
  }

  .teams-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ques-wrapper-1 .ques-heading-teams-titlebox,
  .ques-wrapper-2 .ques-heading-teams-titlebox {
    padding: 0.7rem;
    font-size: 0.5rem;
    width: 65vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    padding-right: 2vw;
  }



  .ques-1,
  .ques-2 {
    width: 100vw;
  }

  .ques-wrapper-1-active .list,
  .ques-wrapper-2-active .list {
    margin-left: 4rem;
    width: 65vw;
    padding-right: 2vw;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 0.3rem;
  }

  .ques-wrapper-1-active .list-item,
  .ques-wrapper-2-active .list-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

  }

  .ques-wrapper-1-active .ques-heading-teams-titlebox,
  .ques-wrapper-2-active .ques-heading-teams-titlebox {
    margin-bottom: 1rem;

  }


  .heading-teams-title {
    font-size: 4rem;
    margin-bottom: -5rem;

  }


  .heading-teams-about {
    flex-direction: row;
  }
  .stroke-img {

    margin-top: 2.5rem;
    margin-left: -7rem;
 
  }

  .stroke-img img{
   height: 58px;
   width: 167px;
  }




}