*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: 'Water Brush', cursive;
  font-size: 4rem;
  color: #FFa800;
}

p{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
