.sponsors {
  display: flex;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
  background: rgb(228, 225, 225);
  font-family: 'Water Brush', cursive;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.heading {
  display: flex;
  flex-direction: column;
  color: #ffa800;
  font-size: 7rem;
  justify-content: center;
  text-align: left;
  margin-left: 4%;
}

.brush3 {
  width: 30%;
  margin-left: 10%;
  margin-top: -4%;
}

.all-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2vw;
  justify-items: center;
  align-items: center;
}

.all-logos img {
  width: 10vw;
}

@media screen and (max-width: 1000px) {


  .all-logos {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .brush3 {

    margin-left: 32%;
    margin-bottom: 3rem;

  }

  .all-logos img {
    width: 70vw;
  }

  .heading img {
    height: 7vw;
    width: 28vw;
    margin-top: -2rem;
  }

  .heading {
    color: #ffa800;
    font-size: 5rem;
    margin-left: 3rem;
  }

}