.sponsors {
  display: flex;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
  background: rgb(228, 225, 225);
  font-family: 'Water Brush', cursive;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}



.heading {
  display: flex;
  flex-direction: column;
  color: #ffa800;
  font-size: 7rem;
  justify-content: center;
  text-align: left;
  margin-left: 4%;
}

.brush3 {
  width: 30%;
  margin-left: 10%;
  margin-top: -4%;
}

.all-logos {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.row1,
.row2,
.row3,
.row4,
.row4,
.row5,
.row6 {
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ebay {
  width: 12%;
}

.nescafe {
  width: 15%;
}

.freecharge {
  width: 12%;
}

.hyundai {
  width: 12%;
}

.harley {
  width: 12%;
}


@media screen and (max-width: 1000px) {

  .sponsors {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .brush3 {

    margin-left: 32%;
    margin-bottom: 3rem;

  }

  .heading img {
    height: 7vw;
    width: 28vw;
    margin-top: -2rem;
    /* z-index: 50; */
  }

  .heading {
    color: #ffa800;
    font-size: 5rem;
    margin-left: 3rem;
  }


  .row1,
  .row2,
  .row3,
  .row4,
  .row4,
  .row5,
  .row6 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5rem;
    gap: 2rem;
  }

  .time {
    width: 5%;
  }

  .ebay {
    width: 100%;
  }

  .nescafe {
    width: 100%;
  }

  .freecharge {
    width: 100%;
  }

  .hyundai {
    width: 100%;
  }

  .harley {
    width: 100%;
  }
.osponsors{
  margin-left: 20%;
}
}